/* Estilo para el color de fondo gris */
.body-custom {
    background-color: #2d3436;
    color: white;
    font-family:'Times New Roman', Times, serif;
}
p{
    font-weight: bold;
    font-size: 25px;
    
}





